// .holder {
//   display: flex;
//   align-items: center;
//   justify-content: center;
//   height: 100%;
// }

.audio-player {
  display: inline-flex;
  // align-items: center;
  // justify-content: space-between;
  gap: 0 20px;
  height: 45px;
  user-select: none;
  -webkit-user-select: none;
  border-radius: 5px;
  color: rgba(0, 0, 0, 0.33);
  background-color: rgba(30, 30, 32, 0.51);
  box-shadow: 0 5px 15px 0 rgba(0, 0, 0, 0.72);
  padding: 0 10px;
  border: 3px solid rgba(0, 0, 0, 0.23);
}

.audio-player .hidden {
  display: none;
}

.audio-player div {
  display: flex;
  align-items: center;
  // gap: 10px;
}

.audio-player .playbtn,
.audio-player .pausebtn,
.audio-player .refreshbtn,
.audio-player .volumebtn {
  cursor: pointer;
}

.audio-player .volume {
  display: flex;
  justify-content: space-around;
  gap: 0 20px;
}

.audio-player .volume output {
  display: flex;
  text-align: right;
  justify-content: end;
  width: 4ch;
}

.audio-player svg {
  display: block;
  fill: rgba(0, 0, 0, 0.33);
  height: 20px;
}

.audio-player .playbtn svg,
.audio-player .pausebtn svg {
  height: 28px;
}

.audio-player input {
  max-width: 80px;
  min-width: 20px;
}

input[type="range"] {
  color: rgba(0, 0, 0, 0.23);
  font-size: 1.5rem;
  width: 12.5em;
  --track-color: rgba(255, 255, 255, 0.1);
  --thumb-opacity: 0;
  --thumb-height: 1.125em;
  --track-height: 0.125em;
  --track-color: rgba(0, 0, 0, 0.2);
  --brightness-hover: 180%;
  --brightness-down: 80%;
  --clip-edges: 0.125em;
}

/* === range commons === */
input[type="range"] {
  position: relative;
  background: #fff0;
  overflow: hidden;
}

/* === WebKit specific styles === */
input[type="range"],
input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  -webkit-appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-webkit-slider-runnable-track,
input[type="range"]::-webkit-slider-thumb {
  position: relative;
}

input[type="range"]::-webkit-slider-thumb {
  --clip-top: calc((var(--thumb-height) - var(--track-height)) * 0.5 - 0.5px);
  --clip-bottom: calc(var(--thumb-height) - var(--clip-top));
  --clip-further: calc(100% + 1px);
  --box-fill: calc(-100vmax - var(--thumb-width, var(--thumb-height))) 0 0
    100vmax currentColor;
  width: var(--thumb-width, var(--thumb-height));
  background: linear-gradient(currentColor 0 0) scroll no-repeat left center/50%
    calc(var(--track-height) + 1px);
  background-color: currentColor;
  box-shadow: var(--box-fill);
  border-radius: 0;
  filter: brightness(100%);
  clip-path: polygon(
    100% -1px,
    var(--clip-edges) -1px,
    0 var(--clip-top),
    -100vmax var(--clip-top),
    -100vmax var(--clip-bottom),
    0 var(--clip-bottom),
    var(--clip-edges) 100%,
    var(--clip-further) var(--clip-further)
  );
}

input[type="range"]::-webkit-slider-runnable-track {
  background: linear-gradient(var(--track-color) 0 0) scroll no-repeat center
    100% calc(var(--track-height) + 1px);
}

input[type="range"]:disabled::-webkit-slider-thumb {
  cursor: not-allowed;
}

/* === Firefox specific styles === */
input[type="range"],
input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb {
  appearance: none;
  transition: all ease 100ms;
  height: var(--thumb-height);
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  background: #fff0;
}

input[type="range"]::-moz-range-thumb {
  opacity: 0;
  background: currentColor;
  border: 0;
  width: var(--thumb-width, var(--thumb-height));
  border-radius: var(--thumb-width, var(--thumb-height));
  cursor: ponter;
}

input[type="range"]:active::-moz-range-thumb {
  cursor: pointer;
}

input[type="range"]::-moz-range-track {
  width: 100%;
  background: var(--track-color);
}

input[type="range"]::-moz-range-progress {
  appearance: none;
  background: currentColor;
  transition-delay: 30ms;
}

input[type="range"]::-moz-range-track,
input[type="range"]::-moz-range-progress {
  height: calc(var(--track-height) + 1px);
  border-radius: var(--track-height);
}

input[type="range"]::-moz-range-thumb,
input[type="range"]::-moz-range-progress {
  filter: brightness(100%);
}

// Responsive breakpoints
/* Custom, iPhone Retina */ 
@media only screen and (max-width : 320px) {
  .audio-player .volume { display: none; }        
}

/* Extra Small Devices, Phones */ 
@media only screen and (max-width : 480px) {
  .audio-player .volume { display: none; }
}

/* Small Devices, Tablets */
@media only screen and (max-width : 768px) {

}

/* Medium Devices, Desktops */
@media only screen and (max-width : 992px) {

}

/* Large Devices, Wide Screens */
@media only screen and (max-width : 1200px) {

}
