/*
  specify the scroll x (or y) with the width (or height) of the images
  In this case, the image dimension is :
  width: 1920px;
  height: 808px;
*/

.scrollingBG {
//   display: fixed;
//   width:100vw;
//   height:100vh;

position:absolute;
top:0px;
right:0px;
bottom:0px;
left:0px;

   background-image:url("https://rhythm.place/img/song.png");
   animation: bgScroll 20s linear infinite;
   z-index: -1;
}

// .scrollingBG {
//   background:red;
//   position:absolute;
//   top:0px;
//   right:0px;
//   bottom:0px;
//   left:0px;
// }

@keyframes bgScroll {
  0% {
    background-position : 0px 0px
  }
  100% {
    background-position : 0px -1496px
  }
}