.scrollingBG {
  position: absolute;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;

  background-image: url("https://rhythm.place/img/song.png");
  animation: bgScroll 20s linear infinite;
  z-index: -1;
}

@keyframes bgScroll {
  0% {
    background-position: 0px 0px;
  }
  100% {
    background-position: -1390px -1390px;
  }
}
